.ContactData {
    width: 80%;
    margin: auto;
    text-align: center;
    margin: 20px auto;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.ContactData form input {
    display: block;
}

@media (min-width: 600px) {
    .ContactData {
        width: 550px;
    }
}