.Hamburger {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0; 
    box-sizing: border-box;
    cursor: pointer;
}

.Hamburger div {
    width: 90%;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}